<h1>Songs</h1>

  <audio controls>
    # <source src="/assets/audios/Aguanile.mp3" type="audio/mpeg">
    # <source src="/Aguanile.mp3" type="audio/mpeg">
    # <source src="/assets/Aguanile.mp3" type="audio/mpeg">
    <source src="/assets/audio/Aguanile.mp3" type="audio/mpeg">
    </audio>
    
    
    <% @songs.each do |song| %>
      <h3><%= song.title %></h3>
      <p>slug: <%= song.slug %></p>
      <p>song.audio: <%= song.audio %></p>
      <% if song.audio %>
      <figure>
      <audio controls>
        <source src=<%= song.audio %>
      </audio>
    </figure>
  <% end %>
<% end %>